<div id="modal-content-wrapper" class="">
  <header id="modal-header" class="modal-header">
    <h1 id="modal-title">Dodaj kategorię</h1>
  </header>
  <form #f=ngForm (ngSubmit)="onSubmit()">
    <section id="modal-body" class="">
      <div class="form-group row p-3">
        <div class="col-sm-10">
          <input type="text"
                 name="category"
                 class="form-control form-control-lg"
                 id="category"
                 [(ngModel)]="category.title"
                 placeholder="Nazwa kategorii">
        </div>
      </div>
    </section>
    <footer id="modal-footer" class="modal-footer">
      <button type="submit" mat-raised-button id="modal-action-button" (click)="closeModal()">Dodaj</button>
      <button type="button" mat-raised-button id="modal-cancel-button" (click)="closeModal()">Anuluj</button>
    </footer>
  </form>
</div>
