<nav class="navbar navbar-expand-lg d-block navbar-dark bg-dark">
  <button mat-icon-button mat-raised-button
          class="mr-2"
          color=""
          aria-label="sidenav icon"
          (click)="sendSidenavToggle()">
    <mat-icon>menu</mat-icon>
  </button>

    <div class="navbar-brand text-center">
      <i class="fas fa-book text-warning"></i>
      <span class="text-warning"> Project Manager</span>
    </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarButtons"
          aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarButtons">
    <span *ngIf="!isLoggedIn">
      <button type="button" class="btn btn-warning mx-1 text-dark" routerLink="login">
        <span>Zaloguj się</span>
      </button>
    </span>
    <span *ngIf="isLoggedIn">
      <button type="button" class="btn btn-secondary mx-1 text-light" (click)="goBack()">
        <span>Wstecz</span>
      </button>
    </span>
    <span *ngIf="isLoggedIn">
      <button type="button" class="btn btn-danger mx-1 text-dark" (click)="logout()">
        <span>Wyloguj się</span>
      </button>
    </span>
  </div>
</nav>


