<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <i class="fa fa-book text-warning"></i>
    <span class="text-warning"> Project Manager</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
          aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="isLoggedIn">
        <a class="btn btn-warning text-dark mx-1" routerLink="/projects">Projekty <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="isModerator">
        <button type="button" class="btn btn-success mx-1 text-dark" routerLink="add" >
          <i class="fa fa-plus"></i>
          <span> Dodaj projekt</span>
        </button>
      </li>
    </ul>
      <span *ngIf="!isLoggedIn">
        <button type="button" class="btn btn-warning mx-1 text-dark pull-right" routerLink="login">
          <span> Zaloguj się</span>
        </button>
      </span>
      <span *ngIf="isLoggedIn">
        <button type="button" class="btn btn-danger mx-1 text-dark pull-right" (click)="logout()">
          <span> Wyloguj się</span>
        </button>
      </span>
  </div>
</nav>


