<ul class="navbar-nav mr-auto">
  <li *ngIf="isLoggedIn">
    <button class="my-1 btn btn-secondary"
            (click)="closeSidenav()"
            routerLink="/projects">Projekty</button>
  </li>
  <li *ngIf="isModerator">
    <button class="my-1 btn btn-secondary"
            (click)="closeSidenav()"
            routerLink="add-project" >
      <i class="fa fa-plus"></i>
      <span> Dodaj projekt</span>
    </button>
  </li>
  <li *ngIf="isAdmin">
    <button class="my-1 btn btn-secondary"
            (click)="closeSidenav()"
            routerLink="add-user" >
      <i class="fa fa-plus"></i>
      <span> Dodaj użytkownika</span>
    </button>
  </li>
</ul>
