<div id="modal-content-wrapper" class="">
  <header id="modal-header" class="modal-header">
    <h1 id="modal-title">Dodaj wiadomość</h1>
  </header>
  <form #f=ngForm (ngSubmit)="onSubmit()">
    <section id="modal-body" class="">
      <div class="form-group row p-3">
        <input type="text" name="title"
               class="form-control form-control-lg"
               id="title"
               [(ngModel)]="message.title"
               placeholder="Tytuł wiadomości">
      </div>
      <div class="form-group row p-3">
        <input type="text" name="title"
               class="form-control form-control-lg"
               id="category"
               [(ngModel)]="message.category"
               placeholder="Kategoria">
      </div>
      <!--      <div class="form-group row p-3 button-on-side">-->
      <!--        <input #tag type="text" name="tags"-->
      <!--               class="form-control form-control-lg d-inline-block"-->
      <!--               id="tags"-->
      <!--               placeholder="Tagi">-->
      <!--          <button type="button" mat-icon-button mat-raised-button class="ml-2"-->
      <!--                  (click)="addTag(tag.value)">-->
      <!--            <mat-icon>add</mat-icon>-->
      <!--          </button>-->
      <!--      </div>-->
      <!--      <ul>-->
      <!--        <li *ngFor="let tag of message.tags">-->
      <!--          {{tag}}-->
      <!--        </li>-->
      <!--      </ul>-->

      <mat-form-field>
        <mat-chip-list #tags aria-label="Tags">
          <input placeholder="Dodaj tag..."
                 [matChipInputFor]="tags"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>
      <div>
        <mat-chip *ngFor="let tag of message.tags" [selectable]="selectable"
                  [removable]="removable" (removed)="removeTag(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </div>
      <div class="form-group row p-3">
          <textarea name="text"
                    class="form-control form-control-lg"
                    rows="5"
                    id="text"
                    [(ngModel)]="message.text"
                    placeholder="Treść wiadomości"></textarea>
      </div>
    </section>
    <footer id="modal-footer" class="modal-footer">
      <button type="submit" mat-raised-button id="modal-action-button" (click)="closeModal()">Dodaj</button>
      <button type="button" mat-raised-button id="modal-cancel-button" (click)="closeModal()">Anuluj</button>
    </footer>
  </form>
</div>
