/*.example-container {*/
/*  position: relative;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/
mat-sidenav-container {
  background-color: white;
  min-height: 100%;
  height: auto!important;
  max-width: 100%;
  margin: 0;
  transform: none;
}

.mat-drawer-container {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;
}

.sidenav-content {
  max-width: 100%;
  min-width: 250px;
}
